<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">

      <div class="d-flex align-items-end">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/PhilippIversen", class: "avatar-bordered"%>
        <div>
          <div class="row">
            <%= link_to '#' do %>
              <% if current_user != @profile %>
              <div class="other-btn"><i class="far fa-comment-dots"></i> contact</div>
              <% end %>
          <% end %>
          </div>
          <div class="row">
            <h2><%= @profile.username %></h2>
          </div>
        </div>
      </div>

    <hr>
      <div class="row">

        <div class="col-9">
          <p> <%= @profile.description %></p>
          <h6><strong>Language: </strong><%= @profile.language %></h6>
        </div>

        <div class="col-3">
          <% if current_user == @profile %>
            <%= link_to edit_user_registration_path do %>
            <div class="other-btn"><i class="fas fa-pencil-alt"></i> edit</div>
            <% end %>
          <% end %>
        </div>
    </div>
    <hr>

      <div>
        <%= link_to activities_path do %>
        <div class="other-btn"><i class="fa fa-arrow-left"></i> activities</div>
        <% end %>
      </div>

    </div>
  </div>
</div>
