<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <h2><i class="fa fa-user-circle"></i> <%= @profile.username %></h2>
       <%= link_to '#' do %>
        <div class="other-btn"><i class="far fa-comment-dots"></i> contact</div>
        <% end %>

    <hr>
      <div class="description">
        <% if current_user == @profile %>
          <%= link_to edit_user_registration_path do %>
          <div class="other-btn"><i class="fas fa-pencil-alt"></i> edit</div>
          <% end %>
        <% end %>
        <p> <%= @profile.description %></p>
        <h6><strong>Language: </strong><%= @profile.language %></h6>
      </div>
    <hr>

      <div>
        <%= link_to activities_path do %>
        <div class="other-btn"><i class="fa fa-arrow-left"></i> activities</div>
        <% end %>
      </div>

    <br>
      <div>
        <h4><%= @profile.username.capitalize %>'s activities:</h4>
      </div>
    </div>
  </div>
</div>
