<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">

      <h2>My activities</h2>
      <hr>
      <br>
        <% current_user.activities.each do |activity|%>
        <div class="card-dashboard-activity">
          <div class="d-flex align-items-center">
            <div>
              <% if activity.photo.attached? %>
                <%= cl_image_tag activity.photo.key, height: 200, width: 150, crop: :fill %>
              <% else %>
                <%= image_tag 'travel_1.jpg', height: 200, width: 150, crop: :fill%>
              <% end %>
            </div>
            <div class="card-dashboard-description">
              <div>
                <h4><%= activity.name %></h4>
                <p><%= activity.address %></p>
                <p><%= activity.start_date %> – <%= activity.end_date %></p>
                <%= link_to 'show', activity_path(activity), { class: "btn btn-primary" } %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <% end %>
      <br>

      <h2>Bookmarked activities</h2>
      <hr>
      <br>
      <% current_user.bookmarks.each do |bookmark|  %>
        <div class="card-dashboard-activity">
          <div class="d-flex align-items-center">
            <div>
              <% if bookmark.activity.photo.attached? %>
                <%= cl_image_tag bookmark.activity.photo.key, height: 200, width: 150, crop: :fill %>
              <% else %>
                <%= image_tag 'travel_1.jpg', height: 200, width: 150, crop: :fill%>
              <% end %>
            </div>
            <div class="card-dashboard-description">
              <div>
                <h4><%= bookmark.activity.name %></h4>
                <p><%= bookmark.activity.address %></p>
                <p><%= bookmark.activity.start_date %> – <%= bookmark.activity.end_date %></p>
                <img src="https://res.cloudinary.com/detomqnqx/image/upload/v1591365485/creepy_dan_v0t1mx.png" class="avatar-bordered" />
                <!-- bookmark -->
                </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
