<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">

      <h2>My activities</h2>
      <hr>
      <br>
      <div class="container flex-container d-flex mb-5">
        <div class="cards">
          <% current_user.activities.each do |activity| %>
          <div class="container card-trip">
            <% if activity.photo.attached? %>
            <%= cl_image_tag activity.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= image_tag 'travel_1.jpg', class: 'activity-image' %>
            <% end %>
            <div class="card-trip-infos">
              <div>

                <div class="moving-activity-name">
                  <h2 class="card-activity-name"><td> <%= link_to activity.name, activity %></td></h2>
                </div>
                <div class="moving-activity-address">
                  <p class="left-even fas fa-map-marker-alt"> <td><%= activity.address %></td></p>
                  <p class="card-activity-timing fas fa-calendar-alt"> <%= activity.start_date.strftime('%b %d %Y') %> – <%= activity.end_date.strftime('%b %d %Y') %></p>
                </div>
              </div>
              <div class="moving-avatar">
                <% if activity.user.photo.attached? %>
                <div>
                  <%= cl_image_tag activity.user.photo.key, height: 50, width: 50, crop: :fill, class: "card-trip-user avatar-bordered" %>
                </div>
                <% else %>
                <img src="https://res.cloudinary.com/detomqnqx/image/upload/v1591364375/photo_xbevd5.gif" class="card-activity-user avatar-bordered" />
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <br>

      <h2>Bookmarked activities</h2>
      <hr>
      <br>
      <div class="container flex-container d-flex mb-5">
        <div class="cards">
          <% current_user.bookmarks.each do |bookmark|  %>
          <div class="container card-trip">
            <% if bookmark.activity.photo.attached? %>
            <%= cl_image_tag bookmark.activity.photo.key, height: 200, width: 150, crop: :fill %>
            <% else %>
            <%= image_tag 'travel_1.jpg', height: 200, width: 150, crop: :fill%>
            <% end %>

            <div class="card-trip-infos">
              <div>
                <div class="moving-activity-name">
                  <h2 class="card-activity-name"><td> <%= link_to bookmark.activity.name, bookmark.activity %></td></h2>
                </div>
                <div class="moving-activity-address">
                  <p class="left-even fas fa-map-marker-alt"> <td><%= bookmark.activity.address %></td></p>
                  <p class="card-activity-timing fas fa-calendar-alt"> <%= bookmark.activity.start_date.strftime('%b %d %Y') %> – <%= bookmark.activity.end_date.strftime('%b %d %Y') %></p>
                </div>
                <!-- bookmark -->
                <%= link_to '<i class="fas fa-bookmark"></i>'.html_safe, bookmark_path(bookmark), method: :delete, data: {confirm: "Are your sure you want to remove this bookmark?"} %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
