<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path 'banner1.jpg' %>');">

  <div class="banner-content">

    <div class="banner-text">
      <h2>Welcome to</h2>
      <h1>travel<strong>m8</strong></h1>
    </div>

    <div class="text-right">

      <div id="text-margin-right">
        <h2>Find your travel mate</h2>
      </div>

        <div class="container-search">
          <%= simple_form_for :search, url: activities_path, method: :get do |f| %>

          <div class="homepage-search">
            <div class='inline2' id="address-input">
              <%= f.input :location,
              input_html: {class: "form-control address-input"},
                placeholder: "Location",
                label: false
              %>
              </div>

              <div class='inline'>
                <%= f.submit "Search", class: "btn btn-danger" %>
              </div>
            <% end %>
            </div>
        </div>
      </div>
  </div>
</div>

  <div class="container d-flex suggestion-container">
    <div class="suggestion">
      <h2>Suggestions for you:</h2>
       </div>
         <div class="refresh">
            <%= link_to root_path do %>
            <p><i class="fas fa-sync-alt"></i></i></p>
            <% end %>
         </div>
       </div>




     <!-- This are the cards -->
<br>
<div class="container flex-container d-flex mb-5">
  <div class="cards">
    <% @activities.each do |activity| %>
    <div class="container card-trip">
      <% if activity.photo.attached? %>
        <%= cl_image_tag activity.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag 'travel_1.jpg', class: 'activity-image' %>
      <% end %>
      <div class="card-trip-infos">
        <div>
        <!-- Button trigger modal -->
          <div class="button-margin">
            <%= link_to 'show', activity_path(activity), { class: "btn btn-primary" } %>
          </div>
        <!-- Modal -->

          <!-- Outside of Modal -->
          <div class="moving-activity-name">
            <h2 class="card-activity-name"><td> <%= link_to activity.name, activity %></td></h2>
          </div>
          <div class="moving-activity-address">
            <p class="left-even"><td><%= activity.address %></td></p>
          </div>
        </div>
          <p class="card-activity-timing"><%= activity.start_date %> until <%= activity.end_date %></p>
          <div class="moving-avatar">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

