<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path 'banner1.jpg' %>');">

  <div class="banner-content">

    <div class="banner-text">
      <h2>Welcome to</h2>
      <h1>travel<strong>m8</strong></h1>
    </div>

    <div class="text-right">

      <div id="text-margin-right">
        <h2>Find your travel mate</h2>
      </div>

        <div class="container-search">
          <%= simple_form_for :search, url: activities_path, method: :get do |f| %>

          <div class="homepage-search">
            <div class='inline2' id="address-input">
              <%= f.input :location,
              input_html: {class: "form-control address-input", id: "activity_address"},
                placeholder: "Location",
                label: false
              %>
              </div>

              <div class='inline'>
                <%= f.submit "Search", class: "btn btn-danger" %>
              </div>
            <% end %>
            </div>
        </div>
      </div>
  </div>
</div>

  <div class="container d-flex suggestion-container">
    <div class="suggestion">
      <h2 id="section2">Suggestions for you</h2>
       </div>
         <div class="refresh">
            <a href="#section2">refresh activities</a>
         </div>
       </div>

<!-- This are the cards -->
<br>
<div class="container flex-container d-flex mb-5">
  <div class="cards-home">
    <% @activities.each do |activity| %>
      <div class="container card-trip">
        <% if activity.photo.attached? %>
          <%= cl_image_tag activity.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag 'travel_1.jpg', class: 'activity-image' %>
        <% end %>
        <div class="card-trip-infos">
          <div>

            <div class="moving-activity-name">
              <h2 class="card-activity-name"><td> <%= link_to activity.name, activity %></td></h2>
            </div>
            <div class="moving-activity-address">
              <p class="left-even fas fa-map-marker-alt"> <td><%= activity.address %></td></p>
<p class="card-activity-timing fas fa-calendar-alt"> <%= activity.start_date.strftime('%b %d %Y') %> – <%= activity.end_date.strftime('%b %d %Y') %></p>            </div>
          </div>


            <div class="moving-avatar">
              <% if activity.user.photo.attached? %>
                <div>
                <%= cl_image_tag activity.user.photo.key, height: 50, width: 50, crop: :fill, class: "card-trip-user avatar-bordered" %>
                </div>
              <% else %>
                <img src="https://res.cloudinary.com/detomqnqx/image/upload/v1591364375/photo_xbevd5.gif" class="card-activity-user avatar-bordered" />
              <% end %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


