<div class="activity-form-container">
<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: false, placeholder:"Name of activity planned", input_html: {class: "form-control w-50"} %>
    <br>
    <%= f.input :description, as: :text, label: false, placeholder:"Please describe your activity..", input_html: {class: "form-control w-50"} %>
    <br>
    <%= f.input :address, label: false, placeholder: "Location of planned activity", input_html: {class: "form-control address-input w-50"} %>
    <br>
    <%= f.input :start_date, as: :string, label: false, placeholder: "start date", input_html: {id: "range_start", class: "form-control w-50"}%>
    <br>
    <%= f.input :end_date, as: :string, label: false, placeholder: "end date",input_html: {id: "range_end", class: "form-control w-50"}%>
    <%= f.input :photo, as: :file %>

  </div>
  <div class="form-actions">
    <%= f.button :submit, { class: "btn btn-primary" } %>
  </div>

<% end %>

</div>
