<div >
  <div>
    <% if activity.user.photo.attached? %>
              <div >
                <%= cl_image_tag activity.user.photo.key, class: "card-trip-user hover-avatar" %>
              </div>
              <% else %>
              <img src="https://res.cloudinary.com/detomqnqx/image/upload/v1591364375/photo_xbevd5.gif" class="card-activity-user avatar-bordered" /> -->
              <%#= image_tag 'travel_1.jpg', class: 'activity-image' %>
    <% end %>
  </div>
    <div class="inline">
      <h5 class="modal-title" id="exampleModalLongTitle"><%= activity.name %></h5>
      <td><p class="left-even" id="address-showpage"><%= activity.address %></p><p ><%= activity.start_date %> until <%= activity.end_date %></p></td>
    </div>
</div>

<div class="modal-body">
  <div class="insert-image">
    <%#= cl_image_tag activity.photo.key, height: 110, width: 420, crop: :fill %>
  </div>
    <p class="left-even"><p><strong>About:</strong> <%= activity.description %></p></p>
</div>

<div class="modal-footer">
<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
  <%= link_to 'Chat', profile_path(activity.user), { class: "btn btn-primary" } %>
</div>


