<!-- This is the banner part -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/hawaii);">
  <div class="container d-flex justify-content-around">
    <div>
      <h1><%= @location %></h1>
      <%= simple_form_for :search, url: activities_path, method: :get do |f| %>
      <div class="form-row w-5 m-5">
        <div class="col">
          <%= f.input :location, input_html: {value: @location.try(:capitalize), class: "form-control address-input"}, placeholder: "Location", label: false  %>
        </div>
        <div class="col">
          <%= f.input :start_date, placeholder: "Start Date", as: :string, input_html: {id: "range_start"}, label: false, class: "form-control" %>
        </div>
        <div class="col">
          <%= f.input :end_date, placeholder: "End Date", as: :string, input_html: {id: "range_end", autocomplete: "off" }, label: false, class: "form-control" %>
        </div>
        <div class="col">
          <%= f.input :category, collection: @categories, placeholder: "Categories", label: false %>
        </div>
        <div class="col-w-5">
          <%= f.submit "Search", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<% if @new_bookmark %>
    <%= simple_form_for([@activity, @new_bookmark], remote: true) do |f|%>
    <%= f.button :button do %><i class="far fa-bookmark"></i><% end %>
    <% end %>
  <% elsif @bookmark %>
    <%= link_to '<i class="fas fa-bookmark"></i>'.html_safe, bookmark_path(@bookmark), method: :delete, data: {confirm: "Are your sure you want to remove this bookmark?"} %>
  <% end %>

<!-- This are the cards -->
<br>
<div class="container" style="display: flex">
  <div class="row">
    <div class="col-12 col-md-8" >
      <div class="cards">
        <% @activities.each do |activity| %>

            <%= render 'shared/card', activity: activity%>
        <% end %>
      </div>
      <!-- </div> -->
    </div>
      <!-- This is the map -->
    <div class="col-12 col-md-4" >
      <!-- <div class="container flex-container d-flex mt-5 mb-5"> -->

        <div id="map"
             style="width: 400px; height: 500px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<br>
