<div class="container">


  <div class="box">
    <div class="cards-showpage">
      <div class="card-activity-showpage">
        <div class="card-activity-infos-showpage">
          <div>
            <% if @new_bookmark %>
            <%= simple_form_for([@activity, @new_bookmark], remote: true) do |f|%>
            <%= f.button :button do %><i class="far fa-bookmark fa-2x bookmark-color position-bookmark-unselected"></i><% end %>
            <% end %>
            <% elsif @bookmark %>
            <%= link_to '<i class="fas fa-bookmark fa-2x"></i>'.html_safe, bookmark_path(@bookmark), method: :delete, data: {confirm: "Are your sure you want to remove this bookmark?"}, class: "bookmark-color position-bookmark-show" %>
            <% end %>
            <h2 id="name-showpage"><td> <%= link_to @activity.name, @activity %></td></h2>
            <td><p class="left-even fas fa-map-marker-alt" id="address-showpage"> <%= @activity.address %></p>
              <br>
              <h2 class="card-activity-timing fas fa-calendar-alt"> <%= @activity.start_date.strftime('%b %d %Y') %> – <%= @activity.end_date.strftime('%b %d %Y') %></h2></td>
            <br>
            <br>
            <p class="left-even"><p> <%= @activity.description %></p></p>
            <br>
            <div class="row">
              <div class="col">
                <%= link_to activities_path do %>
                <div class="btn btn-primary activities-button"><i class="fa fa-arrow-left"></i><p>Activities</p></div>
                <% end %>
              </div>
              <div class="col">
                <% if @activity.chatroom %>
                <%= link_to "Chat", chatroom_path(@activity.chatroom), { class: "btn btn-primary" } %>
                <% else %>
                <%= simple_form_for [@activity, @chatroom = Chatroom.new] do |f| %>
                <%= f.button :submit, "Chat", { class: "btn btn-primary" } %>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

